@page "/shoppinglist"
@inherits INEZ.Pages.ShoppingListModel

<h3>Einkaufsliste </h3>

<AuthorizeView>
    <NotAuthorized>
        <p><em>Bitte Melde dich an um die Einkaufsliste nutzen zu können.</em></p>
    </NotAuthorized>
    <Authorized>
        @if (ShoppingListItems == null)
        {
            <p><em>Lade...</em></p>
        }
        else
        {
            <div class="container">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col ">
                        <div class="input-group mb-auto">
                            <BlazoredTypeahead SearchMethod="@GetItem"
                                               @bind-Value="@SelectedResult"
                                               Debounce="200"
                                               Placeholder="Stammdaten durchsuchen...">
                                <SelectedTemplate Context="result">
                                    @result.Item.Quantity    @result.Item.Name
                                </SelectedTemplate>
                                <ResultTemplate Context="result">
                                    <img src="@result.Item.ImageSmallUrl" height="50">
                                    @result.Item.Quantity    @result.Item.Name<br />
                                    Score: @result.Score
                                </ResultTemplate>
                                <NotFoundTemplate>
                                    Keine Treffer!
                                </NotFoundTemplate>
                            </BlazoredTypeahead>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="button" @onclick=@AddNewItemManual>Manuell hinzufügen</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 5%">Gekauft</th>
                                    <th style="width: 20%">@QuantityColumnName</th>
                                    <th style="width: 65%">@NameColumnName</th>
                                    <th style="width: 10%"></th> @*for buttons*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var shoppingListItem in ShoppingListItems)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                @if (shoppingListItem.Checked)
                                                {
                                                    // draw checkbox thats allready checked
                                                    <input type="checkbox" class="form-check-input" id="itemchecked" checked @onchange=@(newState => UpdateCheckedState(shoppingListItem, newState)) />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" id="itemchecked" @onchange=@(newState => UpdateCheckedState(shoppingListItem, newState)) />
                                                }
                                            </div>
                                        </td>
                                        <td>@shoppingListItem.Quantity</td>
                                        <td>@shoppingListItem.Name</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-light" @onclick=@(() => EditItem(shoppingListItem.Id))><span class="oi oi-pencil" /></button>
                                                <button type="button" class="btn btn-danger" @onclick=@(() => ConfirmDelete(shoppingListItem))><span class="oi oi-trash" /></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

    </Authorized>
</AuthorizeView>
