@page "/shoppinglist"
@inherits INEZ.Pages.ShoppingListModel
@using System.Security.Claims;

<h3>Einkaufsliste </h3>



<AuthorizeView>
    <NotAuthorized>
        <p><em>Bitte Melde dich an um die Einkaufsliste nutzen zu können.</em></p>
    </NotAuthorized>
    <Authorized>
        @if (SetCurrentUserId(context.User.FindFirstValue(ClaimTypes.NameIdentifier)) && ShoppingListItems == null)
        {
            <p><em>Lade...</em></p>
        }
        else
        {
            <div class="container">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col ">
                        <div class="input-group mb-auto">
                            <BlazoredTypeahead SearchMethod="@GetItem"
                                               @bind-Value="@SelectedItem"
                                               Debounce="200"
                                               Placeholder="Stammdaten durchsuchen...">
                                <SelectedTemplate Context="item">
                                    @item.Name
                                </SelectedTemplate>
                                <ResultTemplate Context="item">
                                    @item.Quantity    @item.Name
                                </ResultTemplate>
                                <NotFoundTemplate>
                                    Keine Treffer!
                                </NotFoundTemplate>
                            </BlazoredTypeahead>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="button" @onclick=@AddNewItemAsync>Hinzufügen</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 20%">@QuantitiyColumnName</th>
                                    <th style="width: 70%">@NameColumnName</th>
                                    <th style="width: 10%"></th> @*for buttons*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var shoppingListItem in ShoppingListItems)
                                {
                                    <tr>
                                        <td>@shoppingListItem.Quantity</td>
                                        <td>@shoppingListItem.Name</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-light" @onclick=@(() => EditItem(shoppingListItem.Id))><span class="oi oi-pencil" /></button>
                                                <button type="button" class="btn btn-danger" @onclick=@(() => ConfirmDelete(shoppingListItem))><span class="oi oi-trash" /></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

    </Authorized>
</AuthorizeView>
